.sss{
    button{
        background-color:black; 
    
    }

}

ion-input{
    text-align: center;
} 

ion-content{
    background-image: url('../assets/imgs/tod.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    
}

ion-title{
    background-color: skyblue;
}


  
   
